  $footer-text-color:#747475;
  $footer-background-color:#141414;
  $lightblue:#0097d9;
  $darkgrey:#4c4c4c;
  $lightgrey:#424242;
  $smokegrey:#929292;
  $white:#FFFFFF;
  $black:#000000;
  $offsetnav-background-color:#1f1f1f;
  $slider-background-color:#1e1e1e;
  $header-background-color:#141414;
  $subheader-background-color:#fbfbfc;
  $offsetnav-main-color:#747474;
  $offsetnav-submenu-background-color:#141414;
  $offsetnav-submenu-color:#4c4c4c;