#subheader
	.container-fluid
		.row
			.col-sm-12
				.navbar.navbar-default.navbar-fixed-top.subheader.transparent
					.col-sm-4.pull-left
						h4 Weight Loss
					.col-sm-8.pull-right
						.search
							form(action="")
								input#search(name="search" type="text" placeholder="Search...")
								input#search_submit(type="submit")
						ul.list-inline
							li
								a(href="#") OVERVIEW
							li
								a(href="#") FEATURES
							li 
								a(href="#").active PROGRAMS
							li
								a(href="#") TRAINING
