#callout{
	.row{
		text-align:center;
		padding:50px 0px;
	}
	h1{
		display:inline-block;
		margin:0 0 4px 0;
		padding:0px;
		vertical-align:sub;
		color:$lightgrey;
		font-weight: 300;
	}
	.btn{
		margin-left:20px;
	}
}